body {
    padding: 1px;
}

div.col-sm-12.ballot-vote{
    text-align: left;
    margin-bottom: 10px;
}

button.btn{
    border: ridge;
    border-color: #e1eae3c1 !important;
}
.print-ballot-header{
    color: #0c4f1b
}

.swal2-confirm:focus{
    box-shadow: none !important;
}

.col-sm-2 button{
   margin-bottom: 15px;
}

#ballot-template{
    /* background-color: rgba(246, 249, 244, 0.521); */
}

.modal-backdrop {
    opacity: 0.8 !important;
}

.modal-content {
    background-color: white;
}

.modal-header {
    display: block !important;
}

#election-title {
    margin-bottom: 50px;
    font-weight: bolder;
    color: rgb(16, 87, 131);
    text-shadow: 0 0 2px #415345;
}


.col:hover {
    color: rgb(6, 54, 110);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%;
    color: white !important;
    text-align: center;
}


#selected-party-logo {
    height: 150px;
}

/* #thumb-print-btn {
    width: 40%;
    color: rgb(28, 52, 6);
    background-color: white;
    font-size: 100px;
} */

#selected-party {
    font-weight: bold;
    color: rgb(101, 17, 17);

}

.swal2-confirm.swal2-styled {
    background-color: white !important;
    color: black !important;
    font-size: 25px;
   
}

.swal2-styled{
    background-color: white !important;
}

.swal2-confirm img{
    width: 70px;
}

.swal2-cancel img{
    width: 70px;
}

.swal2-container.swal2-backdrop-show{
    background: rgba(0,0,0,.8) !important;
}

.return-btn i {
    font-size: 60px;
    font-weight: bolder;
}

