body {
    padding: 5px;
    background: linear-gradient(rgba(16, 95, 55, 0.8), rgba(16, 95, 55, 0.8)), url('../assets/img/background-img.png');
}

.table{
    text-align: center;
    background-color: white;
    /* background-image: url('../assets/img/coatarms.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

img{
    margin-right: 10px;
    float: left !important;
}

#table-body{
    font-size: 15px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white !important;
    text-align: center;
}

footer button {
    margin-bottom: 5px;
}