body{
    background-color: rgb(13, 69, 69);
}

#screen-active{
	display: none;
	color: black;
}
 
#screen-sleep{
	color: white;
}

.container{
    text-align: center;
    padding-top: 30px;
}

#spin {
	perspective: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
   
}

.square {
	width: 200px;
	height: 200px;
	background: rgb(239, 231, 231);
	transform: rotateY(45deg);
	animation: rotateAnimation 2s linear infinite;
    box-shadow: 2px 2px 5px rgb(44, 42, 42);
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}